In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config('spark.ui.port', '0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

##### Please replace the external id: itv006277 number with your id number in the code

In [2]:
spark.sql("create database if not exists itv006277_retail")

++
||
++
++

In [3]:
spark.sql("show databases").show()

+--------------------+
|           namespace|
+--------------------+
|00000assign7_itv0...|
| 0000_cache_spark111|
|   0001_av_ivy_tesco|
|          001_retail|
|        003402_hive1|
|    005198_ivy_tesco|
|    005212_ivy_tesco|
| 005222_ivy_practice|
| 005260_ivy_database|
|005876_week5_assi...|
|       005933_retail|
|006018_trendytech...|
|        006539_week5|
|      006539_week5_1|
|     006586_database|
|     006608_database|
|006866_week5_assi...|
|        007384_w5_db|
| 008057_bucketing_db|
|        008211_week5|
+--------------------+
only showing top 20 rows

In [4]:
spark.sql("show databases").filter("namespace like 'retail%'").show()

+--------------------+
|           namespace|
+--------------------+
|              retail|
|            retail01|
|            retail02|
|             retail1|
|             retail2|
|   retail2022_khalid|
|             retail3|
|        retail515_db|
|      retail_abhi_db|
|        retail_aishu|
|         retail_case|
|            retail_d|
|           retail_db|
|          retail_db1|
|       retail_db1000|
|         retail_db12|
|         retail_db14|
|          retail_db8|
|       retail_db_414|
|retail_db_arunav2911|
+--------------------+
only showing top 20 rows

In [5]:
spark.sql("use retail")

++
||
++
++

In [6]:
spark.sql("show databases").show()

+--------------------+
|           namespace|
+--------------------+
|00000assign7_itv0...|
| 0000_cache_spark111|
|   0001_av_ivy_tesco|
|          001_retail|
|        003402_hive1|
|    005198_ivy_tesco|
|    005212_ivy_tesco|
| 005222_ivy_practice|
| 005260_ivy_database|
|005876_week5_assi...|
|       005933_retail|
|006018_trendytech...|
|        006539_week5|
|      006539_week5_1|
|     006586_database|
|     006608_database|
|006866_week5_assi...|
|        007384_w5_db|
| 008057_bucketing_db|
|        008211_week5|
+--------------------+
only showing top 20 rows

In [7]:
spark.sql("use itv006277_retail")

++
||
++
++

In [8]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [9]:
spark.sql("create table itv006277_retail.orders (order_id integer, order_date string, customer_id integer, order_status string)")

++
||
++
++

In [10]:
spark.sql("show tables").show()

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itv006277_retail|   orders|      false|
+----------------+---------+-----------+

In [11]:
orders_df = spark.read \
.format("csv") \
.option("header", "true") \
.option("inferSchema", "true") \
.load("/public/trendytech/orders_wh/*")

In [12]:
orders_df.createOrReplaceTempView("orders")

In [13]:
spark.sql("show tables").show()

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itv006277_retail|   orders|      false|
|                |   orders|       true|
+----------------+---------+-----------+

In [14]:
spark.sql("insert into itv006277_retail.orders select * from orders")

++
||
++
++

In [15]:
spark.sql("select * from itv006277_retail.orders limit 5").show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+

In [16]:
spark.sql("show tables").show()

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itv006277_retail|   orders|      false|
|                |   orders|       true|
+----------------+---------+-----------+

In [17]:
spark.sql("describe table itv006277_retail.orders").show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|    order_id|      int|   null|
|  order_date|   string|   null|
| customer_id|      int|   null|
|order_status|   string|   null|
+------------+---------+-------+

In [18]:
spark.sql("describe extended itv006277_retail.orders").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|         customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|    itv006277_retail|       |
|               Table|              orders|       |
|               Owner|           itv006277|       |
|        Created Time|Tue Oct 31 06:41:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.1.2|       |
|                Type|             MANAGED|       |
|            Provider|                hive|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|       2999944 bytes|       |
|            Location|hdfs://m01.itvers...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
+--------------------+--------------------+-------+
only showing top 20 rows

In [19]:
spark.sql("describe extended itv006277_retail.orders").show(truncate = False)

+----------------------------+---------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                        |comment|
+----------------------------+---------------------------------------------------------------------------------+-------+
|order_id                    |int                                                                              |null   |
|order_date                  |string                                                                           |null   |
|customer_id                 |int                                                                              |null   |
|order_status                |string                                                                           |null   |
|                            |                                                                                 |       |
|# Detailed Table Information|                                                                                 |       |
|Database                    |itv006277_retail                                                                 |       |
|Table                       |orders                                                                           |       |
|Owner                       |itv006277                                                                        |       |
|Created Time                |Tue Oct 31 06:41:38 EDT 2023                                                     |       |
|Last Access                 |UNKNOWN                                                                          |       |
|Created By                  |Spark 3.1.2                                                                      |       |
|Type                        |MANAGED                                                                          |       |
|Provider                    |hive                                                                             |       |
|Table Properties            |[transient_lastDdlTime=1698748921]                                               |       |
|Statistics                  |2999944 bytes                                                                    |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv006277/warehouse/itv006277_retail.db/orders|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                               |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                         |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                       |       |
+----------------------------+---------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [20]:
spark.sql("create table itv006277_retail.orders_ext(order_id integer,order_date string,customer_id integer,order_status string) using csv location '/user/itv006277/orders/orders_file'")

++
||
++
++

In [21]:
spark.sql("select * from itv006277_retail.orders_ext limit 5").show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+

In [22]:
spark.sql("describe extended itv006277_retail.orders_ext").show(truncate = False)

+----------------------------+---------------------------------------------------------------+-------+
|col_name                    |data_type                                                      |comment|
+----------------------------+---------------------------------------------------------------+-------+
|order_id                    |int                                                            |null   |
|order_date                  |string                                                         |null   |
|customer_id                 |int                                                            |null   |
|order_status                |string                                                         |null   |
|                            |                                                               |       |
|# Detailed Table Information|                                                               |       |
|Database                    |itv006277_retail                                               |       |
|Table                       |orders_ext                                                     |       |
|Owner                       |itv006277                                                      |       |
|Created Time                |Tue Oct 31 06:42:25 EDT 2023                                   |       |
|Last Access                 |UNKNOWN                                                        |       |
|Created By                  |Spark 3.1.2                                                    |       |
|Type                        |EXTERNAL                                                       |       |
|Provider                    |csv                                                            |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv006277/orders/orders_file|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe             |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat               |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat      |       |
+----------------------------+---------------------------------------------------------------+-------+

In [23]:
spark.sql("truncate table itv006277_retail.orders_ext")

AnalysisException: Operation not allowed: TRUNCATE TABLE on external tables: `itv006277_retail`.`orders_ext`

In [24]:
spark.sql("insert into itv006277_retail.orders_ext values(1111,'12-02-2023',2222,'CLOSED')")

++
||
++
++